
/* base with default options */

.dsc-button {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: auto;
    width: auto;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    background-color: var(--dsc-fixa-secondary-70);
    color: var(--dsc-fixa-grayscale-white);
    font-size: 1rem;
    padding: 4px 12px;
    border-radius: 4px;
    border: none;
    transition: all 0.2s;
    
}



/* Tamanhos */

    .standard {
        font-size: 1rem;
        padding: 4px 12px;
    }
    .small {
        font-size: 0.8rem;
        padding: 2px 4px;
    }
    .large {
        font-size: 1.2rem;
        padding: 8px 24px;
        letter-spacing: 2px;
    }




/* Tipos e estados*/

    .primary {
        border: 1px solid var(--dsc-fixa-secondary-70);
        background-color: var(--dsc-fixa-secondary-70);
        color: var(--dsc-fixa-grayscale-white);
        
        &:hover {
            border: 1px solid var(--dsc-fixa-secondary-50);
            background-color: var(--dsc-fixa-secondary-50);
        }

        & svg {
            color: var(--dsc-fixa-grayscale-white);
        }

        &.disabled { 
            border: 1px solid var(--dsc-fixa-grayscale-70);
            background-color: var(--dsc-fixa-grayscale-70);
            color: var(--dsc-fixa-grayscale-white);
            cursor: default;
        }

    }


    .secondary {
        background-color: var(--dsc-fixa-primary-90);
        border: 1px solid var(--dsc-fixa-primary-90);
        color: var(--dsc-fixa-grayscale-white);
        box-sizing: border-box;

        &:hover {
            background-color: var(--dsc-fixa-primary-70);
        }

        & svg {
            color: var(--dsc-fixa-grayscale-white);
        }

        &.disabled { 
            border: 1px solid var(--dsc-fixa-grayscale-70);
            background-color: var(--dsc-fixa-grayscale-70);
            color: var(--dsc-fixa-grayscale-white);
            cursor: default;
        }
    }
  
    
    .auxiliary {
        background-color:  var(--dsc-fixa-grayscale-white);
        border: 1px solid var(--dsc-fixa-grayscale-90);
        color: var(--dsc-fixa-grayscale-90);
        box-sizing: border-box;

        &:hover {
            background-color: var(--dsc-fixa-grayscale-30);
        }

        & svg {
            color: var(--dsc-fixa-grayscale-90);
        }

        &.disabled { 
            border: 1px solid var(--dsc-fixa-grayscale-70);
            background-color: var(--dsc-fixa-grayscale-10);
            color: var(--dsc-fixa-grayscale-70);
            cursor: default;
            & svg {
                color: var(--dsc-fixa-grayscale-70);
            }
        }
    }
    
    
    .auxiliary-highlight {
        background-color:  var(--dsc-fixa-grayscale-white);
        border: 1px solid var(--dsc-fixa-primary-90);
        color: var(--dsc-fixa-primary-90);
        box-sizing: border-box;

        &:hover {
            border: 1px solid var(--dsc-fixa-primary-70);
            color: var(--dsc-fixa-primary-70);
            & svg {
                color: var(--dsc-fixa-primary-70);
            }
        }

        &.disabled { 
            border: 1px solid var(--dsc-fixa-grayscale-70);
            background-color: var(--dsc-fixa-grayscale-10);
            color: var(--dsc-fixa-grayscale-70);
            cursor: default;
            & svg {
                color: var(--dsc-fixa-grayscale-70);
            }
            &:hover {
                color: var(--dsc-fixa-grayscale-70);
                & svg {
                    color: var(--dsc-fixa-grayscale-70);
                }
            }
        }
    }
    

    .danger {
        border: 1px solid var(--dsc-feedback-negative-90);
        background: var(--dsc-feedback-negative-90);
        color: var(--dsc-fixa-grayscale-white);

        &:hover {
            border: 1px solid var(--dsc-feedback-negative-70);
            background-color: var(--dsc-feedback-negative-70);
        }

        & svg {
            color: var(--dsc-fixa-grayscale-white);
        }

        &.disabled { 
            border: 1px solid var(--dsc-fixa-grayscale-70);
            background-color: var(--dsc-fixa-grayscale-70);
            color: var(--dsc-fixa-grayscale-white);
            cursor: default;
        }
    }


    .text {
        border:0;
        background: transparent;
        color: var(--dsc-fixa-primary-90);

        &:hover {
            background-color: var(--dsc-fixa-primary-10);
        }

        & svg {
            color: var(--dsc-fixa-primary-90);
        }

        &.disabled { 
            color: var(--dsc-fixa-grayscale-70);
            cursor: default;
            & svg {
                color: var(--dsc-fixa-grayscale-70);
            }
        }
    }


   

/* width options */

    .wd-100 {
        width: 100%;
    }

 