.header {
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    z-index: 1;

    &__main-bar {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: linear-gradient(90deg,  var(--dsc-fixa-primary-90) 0%, var(--accent-color) 100%); 
        color: var(--dsc-fixa-grayscale-white);
        width: 100%;
        height: var(--page-header-height);
        padding: 0 var(--page-padding-w);
        transition: all 0.2s;

        & h1 {
            z-index: 2;
            transition: all 0.2s;
            
            & span:first-of-type {
                margin-right: 12px;
                text-transform: uppercase;
                font-weight: 300;
            }
    
            @media screen and (max-width: 480px) {
                font-size: 2rem;
            }
        }

        @media screen and (max-width: 768px) {
            padding: 0 var(--page-padding-w-breakpoint-768);
        }

        @media screen and (max-width: 480px) {
            padding: 24px var(--page-padding-w-breakpoint-480);
            justify-content: center;
        }
   
    }

    
    

    &__box-skew-main {
        position: absolute;
        display: flex;
        top: 0;
        left: -20px;
        width: 240px;
        height: var(--page-header-height);
        background-color: var(--dsc-fixa-primary-90);
        transform: skew(20deg);
        -webkit-transform: skew(20deg);
        -ms-transform: skew(20deg);
        transition: all 0.2s;
        @media screen and (max-width: 768px) {
            left: -64px;
        }

    }




    &__info-bar {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--dsc-fixa-grayscale-30);
        height: var(--page-header-info-bar-height);
        width: 100%;
        
    }

    &__box-skew-info {
        position: absolute;
        display: flex;
        top: 0;
        left: -14px;
        width: 252px;
        height: var(--page-header-info-bar-height);
        background-color: var(--dsc-fixa-grayscale-50);
        transform: skew(20deg);
        -webkit-transform: skew(20deg);
        -ms-transform: skew(20deg);
        transition: all 0.2s;
        @media screen and (max-width: 768px) {
            left: -58px;
        }
    }

    

   

}