:host {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 16px;
    border-left: 4px solid var(--dsc-fixa-secondary-70);
    margin-bottom: 24px;

    @media screen and (max-width: 480px) {
        justify-content: center;
        align-items: center;
        border-left: none;
        padding-left: 0;
    }
}

.skew-border {
    position: absolute;
    // display: flex;
    top: 0;
    left: 0;
    height: 10px;
    width:10px;
    border-left: 8px solid var(--dsc-fixa-secondary-70);
    border-bottom: 8px solid var(--dsc-fixa-secondary-70);
}

.page-title {
    color: var(--dsc-fixa-primary-90);
    transition: all 0.2s;
    @media screen and (max-width: 480px) {
        font-size: 1.4rem;
    }
}

.page-description {
    color: var(--dsc-fixa-grayscale-90);
    font-size: 0.8rem;
}