<app-page-title title="Lista de Fotos" description="Exibindo uma lista de fotos"></app-page-title>

<a id="goto-bottom" class="goto-bottom" href="#goto-up">
    <app-icon type="down"></app-icon>
</a>


<section class="photo-list">

    <header class="photo-list__header">
        <div class="photo-list__form">

            <div class="photo-list__form-line-1">
                
                <div class="photo-list__count" *ngIf="loadingList === false">
                    <span>Exibindo</span>
                    <span *ngIf="photosListComputed.length !== photosList.length">{{ photosListComputed.length }} /</span>
                    <span>{{ photosList.length }} Itens</span>
                    <span>em {{maxPages}} página(s)</span>
                </div>

                
            </div>

            <div class="photo-list__form-line-2">
                
                <div class="photo-list__search">
                    <label for="search">Filtrar Itens</label>
                    <input type="text" name="search" id="search" [(ngModel)]="searchValue" placeholder="filtre por título, id, id do album...">
                </div>
        
                <div class="photo-list__order">
                    <label for="">Ordenar</label>
                    <span>{{orderSelected}}</span>
                    <ul class="photo-list__order-options">
                        <li>id</li>
                        <li>title</li>
                    </ul>
                </div>

                <button class="photo-list__adicionar-completo dsc-button auxiliary-highlight ">
                    <app-icon type="plus"></app-icon>
                    Adicionar
                </button>

                <button class="photo-list__adicionar-resumido dsc-button auxiliary-highlight ">
                    <app-icon type="plus"></app-icon>
                </button>


            </div>

        </div>
    </header> 

    <main class="photo-list__main">
        <span *ngIf="loadingList; else listLoaded">
            Carregando dados...
        </span>
        <ng-template #listLoaded>
            <ul class="photo-list__itens-ul">
                <li *ngFor="let photo of currentPage">
                    <app-photo-card [photoData]="photo"></app-photo-card>
                </li>
            </ul>
        </ng-template>
    </main>

    <footer class="photo-list__footer">

        <div class="footer__pages-ctl">

            <div class="footer__pages">
                <label for="search">Página</label>
                <input type="number" min="1" [max]="maxPages"  name="page" id="page" [(ngModel)]="selectedPage">
            </div>

            <button class="dsc-button auxiliary" (click)="selectedPage = 1">
                <app-icon type="first-page"></app-icon>
            </button>

            <button class="dsc-button auxiliary" *ngIf="selectedPage > 1; else previousDisabled" (click)="changePage(-1)">
                <app-icon type="previous-page"></app-icon>
            </button>
            <ng-template #previousDisabled>
                <button class="dsc-button auxiliary disabled">
                    <app-icon type="previous-page"></app-icon>
                </button>
            </ng-template>

            <button class="dsc-button auxiliary" *ngIf="selectedPage < maxPages; else nextDisabled" (click)="changePage(1)">
                <app-icon type="next-page"></app-icon>
            </button>
            <ng-template #nextDisabled>
                <button class="dsc-button auxiliary disabled">
                    <app-icon type="next-page"></app-icon>
                </button>
            </ng-template>
            <button class="dsc-button auxiliary" (click)="selectedPage = maxPages">
                <app-icon type="last-page"></app-icon>
            </button>

            

        </div>

        <div class="footer__items-by-page">
            <label for="search">Itens por Página </label>
            <input type="number" min="10" max="50" step="10"  name="itens-by-page" id="itens-by-page" [(ngModel)]="itemsByPage">
        </div>

    </footer>

    

</section>

<a id="goto-up" class="goto-up" href="#goto-bottom">
    <app-icon type="up"></app-icon>
</a>