
:host  {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 24px var(--page-padding-w);
    transition: all 0.4s;

    @media screen and (max-width: 768px) {
        padding: 24px var(--page-padding-w-breakpoint-768);
    }

    @media screen and (max-width: 480px) {
        padding: 24px var(--page-padding-w-breakpoint-480);
    }

    a[class^="goto"] {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--dsc-fixa-grayscale-30);
        color: var(--dsc-fixa-grayscale-90);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
        opacity: 0.8;
        transition: all 0.4s;
        &:hover {
            box-shadow: rgba(0,0,0,0.1) 0px 20px 25px -5px, rgba(0,0,0,0.04) 0px 10px 10px -5px;
        }

        
    }

    .goto-bottom {
        top: 88px;
        right: 40px;
    }

    .goto-up {
        bottom: 24px;
        right: 40px;
    }
    
    .photo-list {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 8px;
        box-shadow: rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0,0,0,0.05) 0px 4px 6px -2px;
        padding: 48px;

        &__form {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            align-items: center;
            margin-bottom: 12px;
            padding-bottom: 12px;
            
        }

        & label {
            font-size: 0.8rem;
            font-weight: 500;
            color: var(--dsc-fixa-grayscale-90);
            margin-bottom: 2px;

        }

        & input {
            padding: 8px;
            border-radius: 4px;
            border: 1px solid var(--dsc-fixa-grayscale-70);
            
        }

        & input:focus {
            outline:  2px solid var(--accent-color);
        }

        & input::placeholder {
            color: var(--dsc-fixa-grayscale-70);
            font-style: italic;
        }



        &__form-line-1 {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 8px;
            font-size: 0.8rem;

            @media screen and (max-width: 480px) {
               justify-content: center;
            }
        }

        &__count {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;
            font-weight: 600;
            color: var(--dsc-fixa-grayscale-90);

            & span:last-of-type {
                font-size: 0.6rem;
                font-weight: 600;
                color: var(--dsc-fixa-grayscale-90);
                background-color: var(--dsc-fixa-grayscale-30);
                padding: 4px 8px;
                border-radius: 4px;

            }

           
        }

       
        &__form-line-2 {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
        }

        &__search {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 60%;
            @media screen and (max-width: 480px) {
                width: 70%;
            }
        }

        &__order {
            position: relative;
            display: flex;
            flex-direction: column;

            & span {
                position: relative;
                display: flex;
                height: 35.2px;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--dsc-fixa-grayscale-70);
                border-radius: 4px;
            }
           
        }

        &__order-options {
            display: none;
        }

        &__adicionar-completo {
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        &__adicionar-resumido {
            display: none;
            @media screen and (max-width: 768px) {
                display: flex;
            }
        }




        &__main {
            position: relative;
            display: flex;
            width: 100%;
        }      

        &__itens-ul {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            list-style: none;
            
            
            & li {
                position: relative;
                display: flex;
                width: 100%;
            }
        }

       

        &__footer {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 24px;

            @media screen and (max-width: 480px) {
               flex-direction: column;
               align-items: center;
               gap: 8px;
            }

            & input {
                text-align: center;
                font-weight: 700;
            }

            & .footer__pages-ctl {
                position: relative;
                display: flex;
                gap: 4px;
                align-items: flex-end;
    

                & .footer__pages {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                }
            }

            & .footer__items-by-page {
                position: relative;
                display: flex;
                flex-direction: column;
            }
    
            
        }


        @media screen and (max-width: 480px) {
            box-shadow: none;
            padding: 24px;
        }

    }
    
}