<header class="header-app">
  <app-header></app-header>
</header>
<div class="dynamic-content-wrapper">
  <main class="dynamic-content-wrapper__main">
    <router-outlet></router-outlet>
  </main>
  <footer class="dynamic-content-wrapper__fotter">
    <app-footer></app-footer>
  </footer>
</div>


