:host {
    width: 100%;
    color: var(--dsc-fixa-grayscale-90);
}
.photo-card {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 8px;
    gap: 12px;
    width: 100%;
    border-bottom: 1px solid var(--dsc-fixa-grayscale-30);
    border-left: 4px solid var(--dsc-fixa-grayscale-white);
    transition: all 0.4s;

    &:hover {
        background-color: var(--dsc-fixa-grayscale-10);
        border-left: 4px solid var(--accent-color);
    }
    &:hover &__footer-id {
        color: var(--accent-color);
        background-color: var(--dsc-fixa-grayscale-30);
        
    }

    &:hover &__figure {
        border: 4px solid var(--dsc-fixa-grayscale-50);
    }
    
    &__figure {
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid var(--dsc-fixa-grayscale-30);
        transition: all 0.4s;
        
        & img {
            width: 100%;
        }
    }

    &__main {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: calc( 100% - 120px);

        & label {
            font-size: 0.6rem;
        }

        & p {
            font-weight: 500;
            text-transform: capitalize;
            color: var(--dsc-fixa-grayscale-90);
            
        }
        
        & .info-add {
            position: relative;
            display: flex;
            font-size: 0.8rem;
            padding: 4px 0;
            gap: 8px;
            &__id, &__album-id {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--dsc-fixa-grayscale-30);
                padding: 4px 12px;
                border-radius: 4px;

                & span {
                    margin-left: 4px;
                    font-weight: 700;
                    
                }
            }
        }
    }

    &__footer {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        right: 0;
        height: 100%;
        padding-right: 8px;
        gap: 4px;
    }

   


}